@font-face {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.ttf") format('ttf');
  }
  
  @font-face {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-ExtraBold.ttf");
    font-weight: bolder;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: 700;
  }