@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./styles/typeface.css);

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Heebo", 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

th{
  font-family: "Heebo", 'Open Sans', 'Helvetica Neue', sans-serif;
}

td{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}